* {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0;
  background-color: tan;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

nav,
.experiences,
.aboutus,
.schedulevisit {
  border: 2px maroon solid;
  padding: 5px;
  display: flex;
  }


a:link {
  text-decoration: none;
  color: maroon;
  font-size: 25px;
  font-family: "caveat", cursive;
  padding: 8px;
}

a:visited {
  color: maroon;
}

a:hover {
  color: white;
}


.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 3px maroon solid;
  justify-content: center;
  justify-content: space-around;
  border: 3px rgb(67, 16, 16) solid;
  background-color: tan;
  height: 80%;

}

h1 {
  background-color: rgb(192, 156, 110);
  font-family: 'Caveat', cursive;
  font-size: 80px;
  color: maroon;
  text-shadow: 3px 3px black;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 15px;
}

h2 {
  font-family: 'Caveat', cursive;
  font-size: 45px;
  color: maroon;
  text-align: center;
  padding-bottom: 15px;
}

.headingh2 {
  font-family: 'Caveat', cursive;
  font-size: 45px;
  color: maroon;
  text-align: center;
  background-color: tan;
  margin-top: 10px;
}

.title {
  margin: 0px;
}

img {
  height: 250px;
  width: 250px;
  margin: auto;
  padding-left: 20px;
}

.cowboy,
.ranchhand,
.cook,
.wrangler {
  border: 3px maroon solid;
  min-height: 100%;
  flex: 1;
}

P {
  font-size: 18px;
  padding: 10px;

}

.wrangler {
  min-height: 100%;
}

section {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  flex: 200px;
  padding: 10px;
  flex: 1;
}

.footer1,
.footer2 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  text-align: center;
}

@media screen and (min-width: 530px ) {


}
